{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification du statut</h1>

    {{ form_start(edit_form) }}

    {% form_theme edit_form 'form/fields.html.twig' %}

        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Valider les modifications" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Supprimer ce statut">
    {{ form_end(delete_form) }}
    <a href="{{ path('statut_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>

{% endblock %}
