{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des statuts</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Libelle</th>
                <th>Actif</th>
                <th>Modifier</th>
            </tr>
            </thead>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.idStatut }}</td>
                <td><a href="{{ path('statut_show', { 'idStatut': statut.idStatut }) }}">{{ statut.libelle }}</a></td>
                <td>{% if statut.actif %} Oui {% else %} Non {% endif %}</td>
                <td><a href="{{ path('statut_edit', { 'idStatut': statut.idStatut }) }}">Modifier</a></td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('statut_new') }}"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau statut</a>
{% endblock %}
