{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des statuts</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Libelle</th>
                <th>Actif</th>
                <th></th>
            </tr>
            </thead>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.idStatut }}</td>
                <td>{{ statut.libelle }}</td>
                <td>{% if statut.actif %} Oui {% else %} Non {% endif %}</td>
                <td class="text-center">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ path('statut_show', { 'idStatut': statut.idStatut }) }}">Consulter</a></li>
                            <li><a href="{{ path('statut_edit', { 'idStatut': statut.idStatut }) }}">Modifier</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <a href="{{ path('statut_new') }}"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau statut</a>
            </td>
        </tr>
        </tbody>

    </table>

{% endblock %}
