{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
    <h1>Statut</h1>

    <div class="row">
        <div class="col-md-2"><b>Identifiant : </b></div>
        <div class="col-md-8">{{ statut.getIdStatut() }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Libelle : </b></div>
        <div class="col-md-8">{{ statut.getLibelle() }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Actif : </b></div>
        <div class="col-md-8">{% if statut.getActif() %} Oui {% else %} Non {% endif %}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Clos : </b></div>
        <div class="col-md-8">{% if statut.getClos() %} Oui {% else %} Non {% endif %}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Couleur : </b></div>
        <div class="col-md-8"><div class="color_statut" style="background-color:{{ statut.getCouleur() }}"></div></div>
    </div>
</div>

<div class="bottom_bar">
    <a href="{{ path('statut_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>
    <a href="{{ path('statut_edit', { 'idStatut': statut.idStatut }) }}"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
    <div class="pull-right">
        {{ form_start(delete_form) }}
            <input class="btn btn-primary" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
