{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tags</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Libelle</th>
                <th>Actif</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.idTag }}</td>
                    <td>{{ tag.libelle }}</td>
                    <td>{% if tag.actif %} Oui {% else %} Non {% endif %}</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li><a href="{{ path('tags_show', { 'idTag': tag.idTag }) }}">Consulter</a></li>
                                <li><a href="{{ path('tags_edit', { 'idTag': tag.idTag }) }}">Modifier</a></li>
                                <li><a href="{{ path('tags_delete', { 'idTag': tag.idTag }) }}">Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <a href="{{ path('tags_new') }}"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau tag</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
{% endblock %}
