{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag</h1>

    <table>
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ tag.libelle }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ tag.actif }}</td>
            </tr>
            <tr>
                <th>Idtag</th>
                <td>{{ tag.idTag }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tags_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tags_edit', { 'idTag': tag.idTag }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
