{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('assets/vendor/summernote/dist/summernote.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}

    <script src="{{ asset('assets/vendor/summernote/dist/summernote.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('#appbundle_ticket_description').summernote({height: 200});
            $('#form_commentaire').summernote({height: 200});
        });
    </script>

{% endblock %}

{% block body %}
    <div class="main">
    <h1>Modification du Ticket </h1>

        <ul class="nav nav-tabs">
            <li class="active">
                <a  href="#1" data-toggle="tab">Informations du ticket</a>
            </li>
            <li><a href="#2" data-toggle="tab">Historique</a>
            </li>
            <li><a href="#3" data-toggle="tab">Commentaires</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                {{ form_start(edit_form) }}

                {% form_theme edit_form 'form/fields.html.twig' %}

                {{ form_widget(edit_form) }}
            </div>
            <div class="tab-pane" id="2">
                <table class="table table-striped">
                    <thead>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Statut du ticket</th>
                    <th>Remarque</th>
                    </thead>
                    <tbody>
                    {% for suivi in ticket.getSuiviTicket() %}
                       <tr>
                           <td>{{ suivi.getDate()|date('d/m/Y à H:i:s') }}</td>
                           <td>{{ suivi.getIdUtilisateur().username }}</td>
                           <td>{{ suivi.getIdStatut().getLibelle() }}</td>
                           <td>{{ suivi.getRemarque() }}</td>
                       </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="3">


                        {{ form_start(commentaire_form) }}

                        {% form_theme commentaire_form 'form/fields.html.twig' %}

                        {{ form_widget(commentaire_form) }}

                        <div class="pull-right">
                            <input class="btn btn-primary" type="submit" value="Commenter" />
                        </div>

                        {{ form_end(commentaire_form) }}
                <br/>
                <hr/>

                {% for commentaire in ticket.getCommentaires() %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-2"><b>{{ commentaire.getUtilisateur().username }}</b><br/>le {{ commentaire.getDate()|date('d/m/Y à H:i:s') }}</div>
                        <div class="col-md-8">{{ commentaire.getRemarque()|raw }}</div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

    </div>




    <div class="bottom_bar">
        <a href="{{ path('ticket_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>
        <div class="pull-right">
            <div class="row">
                <div class="col-md-5">
                    <input class="btn btn-primary" type="submit" value="Modifier" />
                    {{ form_end(edit_form) }}
                </div>
                <div class="col-md-5">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-primary" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
