{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('assets/vendor/summernote/dist/summernote.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}

    <script src="{{ asset('assets/vendor/summernote/dist/summernote.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('#appbundle_ticket_description').summernote({height: 200});
        });
    </script>

{% endblock %}

{% block body %}
    <div class="main">
    <h1>Modification du Ticket </h1>

        <ul class="nav nav-tabs">
            <li class="active">
                <a  href="#1" data-toggle="tab">Informations du ticket</a>
            </li>
            <li><a href="#2" data-toggle="tab">Historique</a>
            </li>
            <li><a href="#3" data-toggle="tab">Commentaires</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                {{ form_start(edit_form) }}

                {% form_theme edit_form 'form/fields.html.twig' %}

                {{ form_widget(edit_form) }}
            </div>
            <div class="tab-pane" id="2">
                <b> Suivi du ticket : </b>

                {% for suivi in ticket.getSuiviTicket() %}
                    <div class="suivi_ticket">
                        <div class="row">
                            <div class="col-md-3">
                                <b>{{ suivi.getIdUtilisateur().username }}</b>,
                                le {{ suivi.getDate()|date('d/m/Y à H:i:s') }}<br/>
                                {{ suivi.getIdStatut().getLibelle() }}
                            </div>
                            <div class="col-md-7">{{ suivi.getRemarque() }}</div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="tab-pane" id="3">

            </div>
        </div>

    </div>

    <div class="bottom_bar">
        <a href="{{ path('ticket_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>
        <div class="pull-right">
            <div class="row">
                <div class="col-md-5">
                    <input class="btn btn-primary" type="submit" value="Modifier" />
                    {{ form_end(edit_form) }}
                </div>
                <div class="col-md-5">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-primary" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
