{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
    <h1>Liste des tickets</h1>
    <div class="table-responsive">
        <table id="table" class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Libelle</th>
                <th>Projet</th>
                <th>Importance</th>
                <th>Mis à jour</th>
                <th>Affecté à</th>
                <th>Statut</th>
                <th></th>
            </tr>
            </thead >
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.getIdTicket() }}</td>
                    <td>{{ ticket.getLibelle() }}</td>
                    <td>{{ ticket.getIdProjet().getlibelle() }}</td>
                    <td>{{ ticket.getIdDegreImportance().getLibelle() }}</td>
                    <td> {% if ticket.getSuiviTicket()|length >0 %}
                            {{ ticket.getSuiviTicket[0].getDate()|date('d/m/Y') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td> {% if ticket.getSuiviTicket()|length >0 %}
                            {{ ticket.getSuiviTicket[0].getIdUtilisateur().getUsername() }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        <table>
                            <tr></tr>
                            <td>
                                <div class="color_statut" style="background-color:{{ ticket.getIdStatut().getCouleur() }}"></div>
                            </td>
                            <td>
                                {{ ticket.getIdStatut().getLibelle() }}</td>
                            </td>
                        </table>
                    </td>

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li><a href="{{ path('ticket_show', { 'idTicket': ticket.idTicket }) }}">Consulter</a></li>
                                <li><a href="{{ path('ticket_edit', { 'idTicket': ticket.idTicket }) }}">Modifier</a></li>
                                <li><a href="{{ path('ticket_delete', { 'idTicket': ticket.idTicket }) }}">Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="bottom_bar">
    <a href="{{ path('ticket_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un ticket</a>
</div>
{% endblock %}
