{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
    <h1>{{ projet.libelle }}</h1>

    <div class="row">
        <div class="col-md-2"><b>Identifiant : </b></div>
        <div class="col-md-8">{{ projet.getIdProjet() }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Actif : </b></div>
        <div class="col-md-8">{% if projet.getActif() %} Oui {% else %} Non {% endif %}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Liste des utilisateurs : </b></div>
        <div class="col-md-8">{% if projet.getIdUtilisateur() %}
                {% for utilisateur in projet.getIdUtilisateur %}
                    {{ utilisateur.getUsername() }}<br/>
                {% endfor %}
            {%  endif %}</div>
    </div>

    <br/>
    <hr/>

    {% if tickets and tickets|length > 0 %}
        <h1>Tickets associés à ce projet</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Libelle</th>
                    <th>Projet</th>
                    <th>Importance</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.getIdTicket() }}</td>
                        <td>{{ ticket.getLibelle() }}</td>
                        <td>{{ ticket.getIdProjet().getlibelle() }}</td>
                        <td>{{ ticket.getIdDegreImportance().getLibelle() }}</td>
                        <td>{{ ticket.getIdStatut().getLibelle() }}</td>
                        <td class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path('ticket_show', { 'idTicket': ticket.idTicket }) }}">Consulter</a></li>
                                    <li><a href="{{ path('ticket_edit', { 'idTicket': ticket.idTicket }) }}">Modifier</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

</div>

<div class="bottom_bar">
    <a href="{{ path('projet_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>
    <a href="{{ path('projet_edit', { 'idProjet': projet.idProjet }) }}"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
    <div class="pull-right">
        {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
