{% block form_row %}
    <div class="row">
        <div class="col-md-2">
            {{ form_label(form) }}
        </div>
        {{ form_errors(form) }}
        <div class="col-md-8">
            {{ form_widget(form) }}
        </div>
    </div>
    <br/>
{% endblock form_row %}


{% block text_widget %}
    {% spaceless %}
        <input width="70%" type="text" class="form-control" {{ block('widget_attributes') }} value="{{ value }}"/>
    {% endspaceless %}
{% endblock text_widget %}

{% block textarea_widget %}
    {% spaceless %}
        <textarea rows="10" width="70%" class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}



{% block choice_widget %}
   <select  width="70%" class="form-control" {% if multiple %}multiple{% endif %}>
       {% for i in 0..data|length -1%}
           <option value="{{ value[i] }}">{{ data[i] }}</option>
       {% endfor %}
   </select>
{% endblock %}





