{% extends 'base.html.twig' %}

{% block js %}
    <script>

        $(document).ready( function () {
            $('#table').dataTable( {
                "columnDefs": [
                    { "orderable": false, "targets": 4 },
                ],
                "language": {
                    "decimal":        "",
                    "emptyTable":     "Aucune donnée",
                    "info":           "Affichage _START_ à _END_ sur _TOTAL_ enregistrements",
                    "infoEmpty":      "Affichage 0 à 0 sur 0 enregistrements",
                    "infoFiltered":   "(filtré sur _MAX_ enregistrements)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Afficher _MENU_ enregistrements",
                    "loadingRecords": "Chargement...",
                    "processing":     "Calcul...",
                    "search":         "Rechercher :",
                    "zeroRecords":    "Aucune correspondance trouvée",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    },
                    "aria": {
                        "sortAscending":  ": Tri croissant",
                        "sortDescending": ": Tri décroissant"
                    }
                }
            } );
        } );

    </script>

{% endblock %}

{% block body %}
    <div class="main">
        <h1>Plages de travail</h1>

        <div class="table-responsive">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for plage in plageTravails %}
                    <tr>
                        <td>{{ plage.getIdPlage() }}</td>
                        <td>{{ plage.getDateDebut()|date("d/m/Y") }}</td>
                        <td>{{ plage.getDateFin()|date("d/m/Y") }}</td>

                        <td class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path('plagetravail_show', { 'idPlage': plage.idPlage }) }}">Consulter</a></li>
                                    <li><a href="{{ path('plagetravail_edit', { 'idPlage': plage.idPlage }) }}">Modifier</a></li>
                                    <li><a href="{{ path('plagetravail_delete', { 'idPlage': plage.idPlage }) }}">Supprimer</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="bottom_bar">
        <a href="{{ path('plagetravail_new') }}"><span class="glyphicon glyphicon-plus"></span> Créer une nouvelle plage de travail</a>
    </div>
{% endblock %}
