{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plagetravails list</h1>

    <table>
        <thead>
            <tr>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Idplage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plageTravail in plageTravails %}
            <tr>
                <td><a href="{{ path('plagetravail_show', { 'idPlage': plageTravail.idPlage }) }}">{{ plageTravail.dateDebut }}</a></td>
                <td>{% if plageTravail.dateFin %}{{ plageTravail.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ plageTravail.idPlage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plagetravail_show', { 'idPlage': plageTravail.idPlage }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plagetravail_edit', { 'idPlage': plageTravail.idPlage }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plagetravail_new') }}">Create a new plageTravail</a>
        </li>
    </ul>
{% endblock %}
