{% extends 'base.html.twig' %}

{% block body %}
    <h1>Miseajours list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for miseAjour in miseAjours %}
            <tr>
                <td><a href="{{ path('miseajour_show', { 'id': miseAjour.id }) }}">{{ miseAjour.id }}</a></td>
                <td>{{ miseAjour.libelle }}</td>
                <td>{{ miseAjour.dateMaj|date('d/m/Y à H:i') }}</td>
                <td><a href="{{ path('miseajour_show', { 'id': miseAjour.id }) }}">show</a></td>
                <td><a href="{{ path('miseajour_edit', { 'id': miseAjour.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('miseajour_new') }}">Ajouter une mise à jour</a>
        </li>
    </ul>
{% endblock %}
