<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">

        {% block javascripts %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
        {% endblock %}

        <style>
            .table-responsive {
                overflow-x: visible !important;
                overflow-y: visible !important;
            }

            .bg-faded {
                background-color: #f7f7f7;
            }

            .sidebar {
                position: fixed;
                top: 51px;
                bottom: 0;
                left: 0;
                z-index: 1000;
                padding: 0px;
                padding-top:20px;
            }

            .offset-md-2 {
                margin-left: 16.666667%;
            }


        </style>

    </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TicketV</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input class="form-control" placeholder="Search..." type="text">
                </form>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-m-3 col-md-2 bg-faded sidebar">
                <ul class="nav nav-sidebar">

                    <li><a href="{{ path('ticket_new') }}" {% if app.request.attributes.get('_route') == 'ticket_new' %} class="bg-primary" {% endif %} >Ajouter un ticket </a></li>
                    <li><a href="{{ path('ticket_index') }}" {% if app.request.attributes.get('_route') == 'ticket_index' %} class="bg-primary" {% endif %} >Gestion Tickets </a></li>
                    <li><a href="{{ path('statut_index') }}" {% if app.request.attributes.get('_route') == 'statut_index' %} class="bg-primary" {% endif %} >Gestion Statuts </a></li>
                    <li><a href="{{ path('degreimportance_index') }}" {% if app.request.attributes.get('_route') == 'degreimportance_index' %} class="bg-primary" {% endif %} >Gestion Importance</a></li>
                    <li><a href="{{ path('tags_index') }}" {% if app.request.attributes.get('_route') == 'tags_index' %} class="bg-primary" {% endif %} >Gestion Tags</a></li>
                    <li><a href="{{ path('projet_index') }}" {% if app.request.attributes.get('_route') == 'projet_index' %} class="bg-primary" {% endif %} >Gestion Projet</a></li>

                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    <li><a href="">More navigation</a></li>

                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                </ul>
            </div>
            <div class="col-m-3 col-md-2 offset-md-2">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    </body>
</html>

