{% extends 'base.html.twig' %}

{% block js %}
    <script>

        $(document).ready( function () {
            $('#table').dataTable( {
                "columnDefs": [
                    { "orderable": false, "targets": 3 },
                ],
                "language": {
                    "decimal":        "",
                    "emptyTable":     "Aucune donnée",
                    "info":           "Affichage _START_ à _END_ sur _TOTAL_ enregistrements",
                    "infoEmpty":      "Affichage 0 à 0 sur 0 enregistrements",
                    "infoFiltered":   "(filtré sur _MAX_ enregistrements)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Afficher _MENU_ enregistrements",
                    "loadingRecords": "Chargement...",
                    "processing":     "Calcul...",
                    "search":         "Rechercher :",
                    "zeroRecords":    "Aucune correspondance trouvée",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    },
                    "aria": {
                        "sortAscending":  ": Tri croissant",
                        "sortDescending": ": Tri décroissant"
                    }
                }
            } );
        } );

    </script>

{% endblock %}

{% block body %}
<div class="main">
    <h1>Liste des degré d'importance</h1>

    <div class="table-responsive">
        <table id="table" class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Libelle</th>
                <th>Actif</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for degreImportance in degreImportances %}
                <tr>
                    <td>{{ degreImportance.getIdDegreImportance() }}</td>
                    <td>{{ degreImportance.getLibelle() }}</td>
                    <td>{% if degreImportance.getActif() %} Oui {% else %} Non {% endif %}</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li><a href="{{ path('degreimportance_show', { 'idDegreImportance': degreImportance.idDegreImportance }) }}">Consulter</a></li>
                                <li><a href="{{ path('degreimportance_edit', { 'idDegreImportance': degreImportance.idDegreImportance }) }}">Modifier</a></li>
                                <li><a href="{{ path('degreimportance_delete', { 'idDegreImportance': degreImportance.idDegreImportance }) }}">Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<div class="bottom_bar">
    <a href="{{ path('degreimportance_new') }}"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau degré d'importance</a>
</div>
{% endblock %}
