{% block stylesheets %}

    <link rel="stylesheet"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
{% endblock %}

<div class="container">
{% block content %}
    {% block fos_user_content %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h2 class="form-signin-heading">Identification</h2>
            <label class="sr-only" for="username">{{ 'Identifiant :'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Login"/>
            <label class="sr-only" for="password">{{ 'Mot de passe :'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Mot de passe"/>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
            <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'Connexion'|trans }}" />
        </form>
            <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a> - <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
    {% endblock fos_user_content %}
{% endblock %}
</div>